<mat-card class="example-card">
    <mat-card-content>
        <mat-card-title-group>
            <div>
                <mat-card-title>{{postInput.titulo}}</mat-card-title>
                <mat-card-subtitle>Id : {{postInput.texto}}</mat-card-subtitle>
                <div>
                    <!--<div>
            <img mat-card-lg-image (click)="openDialogViviendaDetail()" src={{viviendaInput?.avatar}} >
          <p>pulsa la foto para ver detalles</p>
          </div>
          <div class="boton"><a href="localhost:4200/inmobiliaria/"><button mat-raised-button color="primary"(click)="deleteVivienda(viviendaInput.id)" >borrar</button></a></div>-->
                </div>
            </div>
        </mat-card-title-group>
    </mat-card-content>
</mat-card>