.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: rgb(167, 167, 167);
}

.boton {
    width: 20px;
    height: 40px;
}

mat-card-content {
    width: 200px;
    height: 300px;
}

mat-card {
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}